ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=
ALLOWED_ORIGINS=
API_V1_STR=
DATABASE_URL=
ENV=
GOOGLE_CLIENT_ID=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_SERVER=
POSTGRES_USER=
PROJECT_NAME=
REDIS_HOST=
REDIS_PORT=
REDIS_URL=
REFRESH_TOKEN_EXPIRE_DAYS=
SECRET_KEY=
SUPERADMIN_COMPANY_NAME=
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
VERSION=